Build/
Temp/
Library/
obj/
*.svd
*.exe
*.suo
 
*.userprefs
Assembly-CSharp.csproj
Assembly-CSharp.pidb
Assembly-CSharp-Editor.csproj
Assembly-CSharp-Editor.pidb
Assembly-CSharp-Editor-vs.csproj
Assembly-CSharp-firstpass.csproj
Assembly-CSharp-firstpass.pidb
Assembly-CSharp-firstpass-vs.csproj
Assembly-CSharp-vs.csproj
Assembly-UnityScript-firstpass.pidb
Assembly-UnityScript-firstpass.unityproj
Assembly-UnityScript-firstpass-vs.unityproj
Assembly-UnityScript-vs.unityproj
Assembly-UnityScript.unityproj
Assembly-UnityScript.pidb
UpgradeLog.XML
UpgradeLog.htm
_UpgradeReport_Files/